.box{
  padding-left:2.5%;
  padding-bottom: 10px;
  padding-right:2.5%;
  border-width: 1px;
  border-radius:6px;
  margin-left:2.5%;
  margin-right:2.5%;
  background-color: #4c8dff;
  color:white;
}
ion-row {
  margin-bottom: -12px;
}
