ion-toolbar {
  background-color: #00e676 !important

}
ion-item {
  margin-bottom:2px;
}
a{
  text-decoration:none;
  color: white;
  width:110% !important;
  height:100%;
  padding-top:14px;
  padding-left:4px;
  border-radius:5px
}

.item a {
  background-color:#4c8dff

}

.item:hover a {
  background-color:#3171e0 !important
}

.lista {

}
