<ion-header translucent>
    <ion-toolbar class="ion-text-center" color="primary">
      <ion-title> BuscaPelis </ion-title>
      <app-search-form (FormDataEvent) ="mensajeRecibido($event)" style="color:black"> </app-search-form>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list class = "lista" lines="none">
    <ion-item *ngFor = "let pelicula of listaPeliculas" > <a routerLink="/movie-details/{{pelicula.id}}">{{pelicula.nombre}}</a></ion-item>
  </ion-list>
</ion-content>
